@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    left: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    scroll-behavior: smooth;

}

body {
    background: #020202;
}

.container {
    max-width: 1300px;
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;


}

.navbar {
    display: flex;
    justify-content: center;

}

nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
}

ul {

    display: flex;
    list-style: none;
    margin: 54px;


}

a {
    color: #fff;
    text-decoration: none;
}

li a {
    text-decoration: none;
    color: #fff;
    padding-right: 50px;

}

li a:hover {
    color: gold;
    text-shadow: 0 0 5px #ffd700,




        0 0 40px #ffcc00,
        0 0 50px #ffcc00,
        0 0 75px #ffcc00;

}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;

}

.logo i {
    color: gold;
    font-size: 24px;


}

.small-container {
    max-width: 1080px;
}

.row {
    margin: 35px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-1 {
    display: inline;
    flex-basis: 50%;
}

.col-1 img {
    width: 350px;
    height: 350px;
    border: 15px solid #555;
    border-radius: 50%;
    transition: transform 0.5s ease;

}

.col-1 img:hover {
    transform: scale(1.1);
    box-shadow: 10px 10px 15px 2px rgba(146, 141, 141, 0.5)
}

.col-1 h1 {
    margin: 0;
    font-size: 55px;
    color: gold;
}

.col-1 h5 {
    color: #fff;
    font-size: 20px;
    margin: auto;
}

p {
    color: #fff;
}

.icon {
    margin-left: 2px;
}

.btn-container {
    display: inline-flex;
    gap: 80px;
}

.btn {
    border: 2px solid #fff;
    padding: 10px 25px;
    border-radius: 33px;
}

.btn:first-child:hover {
    border-color: goldenrod; /* Change border to white */
    color: goldenrod; /* Change text color to golden */
}

.btn:first-child {
    border: 2px solid gold;
}
.btn:last-child:hover {
    border-color: goldenrod; /* Change border to golden */
    color: goldenrod; /* Change text color to golden */
}.btn a:last-child:hover {
   
    color: goldenrod; /* Change text color to golden */
}

